<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bullsfirst</title>

    <link rel="stylesheet" href="app.css">

    <!-- Libs -->
    <script src="angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.21/webcomponents-lite.min.js"></script>
    <link rel="import" href="https://cdn.vaadin.com/vaadin-charts/3.0.0-rc1/vaadin-charts.html">

    <!-- Application -->
    <script src="app.js"></script>
    <script src="AccountsController.js"></script>
</head>
<body>

<!-- Header -->
<div id="header">
    <div class="logo">
        <h1>bullsfirst</h1>

        <div class="subtitle">Calling All Bull Markets</div>
    </div>

    <div class="actions">
        <button>Trade</button>
        <button>Transfer</button>
    </div>
</div>

<!-- Content -->
<div id="content" ng-app="bullsfirst" ng-controller="AccountsController">
    <div class="left-section">
        <div class="header">
            <strong>Accounts</strong>

            <div class="actions">
                <button ng-click="addAccount()">Add Account</button>
                <button>Refresh</button>
            </div>
        </div>

        <table>
            <tr>
                <th>Name</th>
                <th>Market Value</th>
                <th>Cash</th>
                <th>Legend</th>
            </tr>

            <tr ng-repeat="row in rows">
                <td>{{ row.name }}</td>
                <td>{{ row.marketValue | currency }}</td>
                <td>{{ row.cash | currency }}</td>
                <td>
                    <div class="legend" style="background-color: {{ row.legend }}"></div>
                </td>
            </tr>

            <tr class="totals">
                <td></td>
                <td>
                    <strong>{{ totals.marketValue | currency }}</strong>
                </td>
                <td>
                    <strong>{{ totals.cash | currency }}</strong>
                </td>
                <td></td>
            </tr>


        </table>
    </div>

    <div class="right-section">
  <!-- Chart Goes Here -->
    <div id="chart-wrapper" ng-app='myApp',>
  <div ng-controller="chartCtrl">
    <chart-wrapper data-series="{{chartData}}"></chart-wrapper>
  </div>
</div>

<dom-module id="chart-wrapper">
<!-- vaadin-charts template -->
  <template>
    <vaadin-pie-chart>
      <chart-title>Accounts</chart-title>
      <subtitle>2016</subtitle>
      <tooltip point-format="<b>{point.percentage:.1f}%</b>"></tooltip>
      <plot-options>
        <pie allow-point-select="true" show-in-legend="true"
               cursor="pointer">
          <data-labels enabled="false"
               format="{}: {} ">
          </data-labels>
        </pie>
      </plot-options>
      <data-series name="Revenue share" data="[[dataSeries]]"></data-series>
    </vaadin-pie-chart>
  </template>
  <script>
  // Calling webcomponents and initializingthe chart wrapper.
    addEventListener('WebComponentsReady', function () {
      Polymer({
        is: "chart-wrapper",
        properties: {
          dataSeries: {
            type: Array
          }
      }});
    });
        angular.bootstrap(document.getElementById("chart-wrapper"),['myApp']);

  </script>
</dom-module>
        <!-- <img class="chart" src="chart.png" alt="Chart"> -->

        <div class="help-label">Click on an account to view positions</div>
    </div>

<!-- </div> -->

</body>
</html>